.cta {
  background: #3b3054;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../images/bg-boost-desktop.svg');
  padding: 4rem 0;
}

.cta__title {
  color: #fff;
  margin-bottom: 3rem;
}
