.linkForm {
  transform: translateY(70px);
  .container {
    background-color: #3b3054;
    background-image: url('../images/bg-shorten-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 3rem;
    border-radius: 10px;
  }
  input[type='text'] {
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    border: none;
  }

  .button {
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    border: none;
    background-color: #2acfcf;
    color: #fff;
  }
}
